@charset "UTF-8";
/* todas as demais midias*/
:root {
    --cor-fundo-header: rgb(0, 0, 190);
    --cor-titulo-header: white;
    --cor-fundo: #ffffff; /* cor de fundo padrão */
    --cor-texto: #000000; /* cor de texto padrão */
    --cor-titulo: rgb(0, 0, 190);
    --cor-subtitulos: rgb(92, 91, 91);
  }

.dark-mode:root {
    --cor-fundo-header: rgb(20, 20, 20);    
    --cor-titulo-header: rgb(255, 255, 255);
    --cor-fundo: #0f0f0f; /* cor de fundo no modo escuro */
    --cor-texto: #ffffff; /* cor de texto no modo escuro */
    --cor-titulo: rgb(99, 99, 214);
    --cor-subtitulos: rgb(92, 91, 91);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    width: 98vw;
    height: 100%;    
}

header{
    background-color: var(--cor-fundo-header);
    height: 90px;
}
header h1{
    padding-top: 15px;
    text-align: center;
    font-size: 28px;
    color: var(--cor-titulo-header);
}
header li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    
}
header li a{
    text-decoration: none;
    color: var(--cor-titulo-header);
    &:hover{
        background-color: rgba(0, 0, 0, 0.288);
        transition-duration: 0.4s;
    }
}
header nav{
    margin-top: 15px;
    text-align: center;
}
main{
    max-width: 700px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 40px;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}
main h1, h2, h3{
    color: var(--cor-titulo);
}
#sobreMim{
    width: 100%;
    padding: 20px;
}
#sobreMim h1{
    padding-bottom: 15px;
    
}
#sobreMim p{
    font-size: 20px;
    text-indent: 1.5em;
}
#ifrs{
    color: var(--cor-texto);
}
#ifrs:hover{
    text-decoration: none;
}
picture{
    width: 100%;
    padding: 20px;
}
#ramiropc, #ramirocell {
    max-width: 100%;
    max-height: 100%;
}
#projetos{
    margin-left: 40px;
    line-height: 20px;
}
#projetos h2{
    margin-top: 20px;
    font-size: 24px;
}
#projetos ul{
    margin-top: 10px;
    font-size: 18px;
}
#projetos li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-texto);
}
#projetos li:hover{
    text-decoration: underline;
    transition-duration: 0.4s;
}
.skills{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
#imghtml{
    height: 67px;
    width: 67px;
}
#skills{
    margin-left: 40px;
    line-height: 20px;
}
#skills h2{
    margin-top: 40px;
    font-size: 24px;
}
#skills p{
    margin-top: 10px;
    color: var(--cor-subtitulos);
    margin-bottom: 10px;
    font-size: 15px;
}
#contato{
    margin-left: 40px;
    line-height: 20px;
}
#contato h2{
    margin-top: 40px;
    font-size: 24px;
}
#contato p{
    margin-top: 10px;
    color: var(--cor-subtitulos);
    margin-bottom: 10px;
    font-size: 15px;
}
footer{
    background-color: black;
    color: white;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}
#menu{
    visibility: hidden;
}
#menuHamburguer{
    visibility: visible;
}
